<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">ck.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHiddenContent"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarHiddenContent">
      {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url==item.link %}class="active" {% endif %}>
        {{ item.name }}
      </a>
      {% endfor %}
    </div>

  </div>

</nav>
