<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">ck.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHiddenContent"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarHiddenContent">
      <ul class="navbar-nav ms-auto">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.link }}" {% if page.url==item.link %}class="active" aria-current="page" {% endif %} class="nav-link">
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

</nav>
